{% extends "header.html" %}

{% block body %}
{% for message in form.email.errors %}
   {{ message }}
{% endfor %}
{% for message in form.password.errors %}
   {{ message }}
{% endfor %}

<form method="post">
    {{ form.csrf_token }}
    <div class="form-group">
        <label for="email">Email:</label>
        {{ form.email(class_="form-control") }}
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        {{ form.password(class="form-control") }}
    </div>
    <div class="form-group">
        <label for="remember">Remember me:</label>
        {{ form.remember(class="form-control") }}
    </div>
    {{ form.submit(class="btn btn-primary") }}

</form>


{% endblock %}