{% extends "header.html" %}
{% block body %}

<h1>Flask Coin Tracker - Current Spot Prices</h1>
{% if user %}
<a href="/notifications/new" class="btn btn-outline-primary" >New Price Notification</a>
{% else %}
<span id='login-to-create-note'>Login or create an account to set a price notification.</span>
{% endif %}
<table class="table">
	<thead>
	  <tr>
		<th scope="col">Coin</th>
		<th scope="col">Price</th>
		<th scope="col">Date</th>
	  </tr>
	</thead>
	<tbody>
		{% for coin_name, coin_display in coin_dict.items() %}
	  <tr>
		<th scope="row">{{ coin_display }}</th>
		<!-- comments are hard spencer loves tina :D-->
		<td>{{ prices[coin_name]['price'] }}</td>
		<td>{{ prices[coin_name]['date'].isoformat() }}</td>
	  </tr>
	  {% endfor %}
	</tbody>
  </table>
	
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	


{% endblock %}