{% extends "header.html" %}
{% block body %}

<table class="table">
	<thead>
	  <tr>
		<th scope="col">Coin</th>
		<th scope="col">Price</th>
		<th scope="col">Date</th>
	  </tr>
	</thead>
	<tbody>
		{% for coin in ['Bitcoin', 'Ethereum'] %}
	  <tr>
		<th scope="row">{{ coin }}</th>
		<!-- comments are hard spencer loves tina :D-->
		<td>{{ prices[coin]['price'] }}</td>
		<td>{{ prices[coin]['date'].isoformat() }}</td>
	  </tr>
	  {% endfor %}
	</tbody>
  </table>
	
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	


{% endblock %}